.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  margin: 0 auto;
  list-style-type: none;
  width: 80%;
  text-align: left;
}

ul > li {
  /* height: 50px; */
  padding: 8px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul > li:nth-child(odd) {
  background-color: gray;
}

ul > li:nth-child(even) {
  background-color: brown;
  color: black;
}

ul > li > h3 {
  flex: 0.3;
  color: gold;
  text-transform: capitalize;
}

ul > li > p {
  flex: 0.6;
}

ul > li > p::first-letter {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
